attrs==20.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
configparser==5.0.2
cryptography==3.4.6
furl==2.1.0
idna==2.10
orderedmultidict==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyMySQL==1.0.2
pyOpenSSL==20.0.1
requests==2.25.1
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
TelegramBotAPI==0.3.2
urllib3==1.26.4
